body {
  font-family: "Playfair Display SC", serif;
}

.header {
  display: grid;
  grid-template-columns: 50% 50%;
  width: 100%;
  font-family: "Playfair Display SC", serif;
}

.nav > ul {
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
  width: auto;
}

.has-border {
  grid-column-start: 2;
  margin: 2% 1% 3%;
  height: 5%;
  width: fit-content;
  color: black;
  font-size: 17px;
  background: transparent;
  text-align: center;
  font-family: "Playfair Display SC", serif;
  text-align: center;
}

.myname {
  grid-column-start: 1;
}

header > h2 {
  text-transform: capitalize;
  font-family: "Playfair Display SC", serif;
}

nav > a {
  margin: 2% 1% 3%;
  height: 5%;
  width: 10%;
  color: black;
  font-size: 17px;
  background: transparent;
  text-align: center;
  font-family: "Playfair Display SC", serif;
  flex-grow: 2;
  float: right;
}

.title {
  display: flex;
  background-color: #f5f8fa;
  height: 150px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: rgba(0, 0, 0, 0.125);
  margin-top: 5px;
}

.title > h1 {
  justify-content: baseline;
  color: rgb(52, 52, 52);
  margin-left: 30%;
}

.intro {
  margin-right: 25%;
  margin-left: 25%;
}

.intro > h1 {
  text-align: center;
}

.intro > h2 {
  text-align: center;
}

.career-goals {
  margin-right: 25%;
  margin-left: 25%;
}

.career-goals > h2 {
  text-align: center;
}

.closing {
  margin-right: 25%;
  margin-left: 25%;
}

.closing > h2 {
  text-align: center;
}

.closing > h3 {
  text-align: center;
}

.footer {
  background-color: #f5f8fa;
  height: 100px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: rgba(0, 0, 0, 0.125);
  margin-top: 10%;
}

@media (max-width: 1016px) {
  .header {
    display: inline-block;
  }

  .has-border {
    flex-direction: column;
  }
}
