body {
  font-family: "Playfair Display SC", serif;
}

header {
  display: grid;
  grid-template-columns: 50% 50%;
  width: 100%;
  font-family: "Playfair Display SC", serif;
}

nav {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  padding-right: 2%;
  grid-column-start: -1;
  grid-column-end: 2;
  font-family: "Playfair Display SC", serif;
  margin-right: 15px;
}

.myname {
  grid-column-start: 1;
}

header > h2 {
  text-transform: capitalize;
  font-family: "Playfair Display SC", serif;
}

nav > a {
  margin: 2% 1% 3%;
  height: 5%;
  width: 10%;
  color: black;
  font-size: 17px;
  background: transparent;
  text-align: center;
  font-family: "Playfair Display SC", serif;
  flex-grow: 2;
  float: right;
}

.title {
  display: flex;
  background-color: #f5f8fa;
  height: 150px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: rgba(0, 0, 0, 0.125);
  margin-top: 5px;
}

.title > h1 {
  justify-content: baseline;
  color: rgb(52, 52, 52);
  margin-left: 30%;
}

/* li > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
} */

.gallery {
  display: grid;
  grid-template-columns: 3;
  grid-template-rows: 2;
  list-style-type: none;
  column-gap: 50px;
  row-gap: 50px;
}

.gallery > li {
  text-align: center;
  font-size: 25px;
  border-style: solid;
  border-width: 2px;
  border-right-color: #153f4d;
  object-fit: cover;
}

.calculator > img {
  grid-column-start: 1;
}

.hair {
  grid-column-start: 2;
  display: inline-block;
}

.responsive {
  grid-column-start: 3;
}

.footer {
  background-color: #f5f8fa;
  height: 100px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: rgba(0, 0, 0, 0.125);
  margin-top: 10%;
}
