header {
  display: grid;
  grid-template-columns: 40% 60%;
  width: 100%;
}

nav {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  padding-right: 2%;
  grid-column-start: -1;
  grid-column-end: 2;
}

nav > a {
  margin: 2% 1% 3%;
  height: 10%;
  width: 15%;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  border-radius: 25px;
  background: transparent;
  padding: 20px;
  text-align: center;
  border: 2px solid white;
}

.has-border {
  border-radius: 25px;
  border: 2px solid #0795c3;
  background: none;
  padding: 20px;
}

.underline {
  height: 2pt;
  width: auto;
  background-color: #0795c3;
}

.body {
  display: grid;
  grid-template-columns: 25% 75%;
  grid-template-rows: auto;
}

.profile-title {
  grid-column-start: 1;
  grid-column-end: 2;
}

.education-title {
  display: flex;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
  justify-content: space-between;
}

.contact-info {
  grid-template: fit-content;
}

.summary {
  grid-column-start: 2;
  grid-row-start: 1;
  grid-template-areas: fit-content;
}

.education {
  grid-column-start: 1;
  grid-template: fit-content;
}

.contact-info {
  grid-column-start: 1;
}

.skills {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 4;
}

.skills > ul {
  list-style: none;
}

.history {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
}

.side-bar {
  display: grid;
}
