body {
  font-family: "Playfair Display SC", serif;
}

.header {
  display: grid;
  grid-template-columns: 50% 50%;
  width: 100%;
  font-family: "Playfair Display SC", serif;
}

.nav > ul {
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
  width: auto;
}

.has-border {
  grid-column-start: 2;
  margin: 2% 1% 3%;
  height: 5%;
  width: fit-content;
  color: black;
  font-size: 17px;
  background: transparent;
  text-align: center;
  font-family: "Playfair Display SC", serif;
  text-align: center;
}

.myname {
  grid-column-start: 1;
}

header > h2 {
  text-transform: capitalize;
  font-family: "Playfair Display SC", serif;
}

nav > a {
  margin: 2% 1% 3%;
  height: 5%;
  width: 10%;
  color: black;
  font-size: 17px;
  background: transparent;
  text-align: center;
  font-family: "Playfair Display SC", serif;
  flex-grow: 2;
  float: right;
}

.title {
  display: flex;
  background-color: #f5f8fa;
  height: 150px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: rgba(0, 0, 0, 0.125);
  margin-bottom: 10px;
}

.title > h1 {
  justify-content: baseline;
  color: rgb(52, 52, 52);
  margin-left: 25%;
}

.underline {
  height: 2pt;
  width: auto;
  background-color: #153f4d;
}

.body {
  display: grid;
  grid-template-columns: 25% 75%;
  grid-template-rows: auto;
}

.profile-title {
  grid-column-start: 1;
  grid-column-end: 2;
}

.education-title {
  display: flex;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
  justify-content: space-between;
}

.contact-info {
  grid-template: fit-content;
}

.contact-info > a {
  color: black;
}

.summary {
  grid-column-start: 2;
  grid-row-start: 1;
  grid-template-areas: fit-content;
}

.summary > p {
  font-size: 18px;
}

.education {
  grid-column-start: 1;
  grid-template: fit-content;
  text-align: center;
}

.contact-info {
  text-align: center;
}

.skills {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 4;
  text-align: center;
}

.skills > ul {
  list-style: none;
  padding: 0%;
}

.history {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
}

.history > ul {
  font-size: 18px;
}

.side-bar {
  display: block;
  margin-right: 25%;
  margin-left: 5%;
  border-right-style: solid;
  border-right-color: #153f4d;
  border-right-style: dashed;
  padding-right: 5%;
}

.footer {
  background-color: #f5f8fa;
  height: 100px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: rgba(0, 0, 0, 0.125);
  margin-top: 10%;
}

@media (max-width: 1240px) {
  .header {
    display: inline-block;
  }

  .body {
    grid-template-columns: auto;
  }

  .side-bar {
    grid-row-start: 2;
    border-top-style: solid;
    border-top-color: #153f4d;
    border-top-style: dashed;
    border-right: none;
  }
  .has-border {
    flex-direction: column;
  }
}
