/* body {
  display: grid;
  grid-template-columns: 25vh 75vh;
  grid-template-rows: auto;
  font-family: "Roboto", sans-serif;
  width: 1200px;
} */

header {
  display: grid;
  grid-template-columns: 50% 50;
  width: 50%;
  justify-items: start;
  grid-column-start: 4;
}

nav {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  padding-right: 2%;
}

/* This is an element within and element selector */
nav > a {
  margin: 2% 1% 3%;
  height: 10%;
  width: 15%;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  border-radius: 25px;
  background: transparent;
  padding: 20px;
  text-align: center;
  border: 2px solid white;
}

.has-border {
  border-radius: 25px;
  border: 2px solid #0795c3;
  background: none;
  padding: 20px;
}

.underline {
  height: 2pt;
  width: auto;
  background-color: #0795c3;
}

.body {
  display: grid;
  grid-template-columns: 10% 90%;
  grid-template-rows: auto;
}

.summary {
  grid-column-start: 2;
}

.education {
  grid-column-start: 2;
}

/* .expertise {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
}

.history {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 4;
}

.education {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 4;
  grid-row-end: 5;
}


.contact-info {
  grid-column-start: 1;
}  */
