body {
  font-family: "Playfair Display SC", serif;
}

header {
  display: grid;
  grid-template-columns: 50% 50%;
  width: 100%;
  font-family: "Playfair Display SC", serif;
}

nav {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  padding-right: 2%;
  grid-column-start: -1;
  grid-column-end: 2;
  font-family: "Playfair Display SC", serif;
  margin-right: 15px;
}

.myname {
  grid-column-start: 1;
}

header > h2 {
  text-transform: capitalize;
  font-family: "Playfair Display SC", serif;
}

nav > a {
  margin: 2% 1% 3%;
  height: 5%;
  width: 10%;
  color: black;
  font-size: 17px;
  background: transparent;
  text-align: center;
  font-family: "Playfair Display SC", serif;
  flex-grow: 2;
  float: right;
}

.title {
  display: flex;
  background-color: #f5f8fa;
  height: 150px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: rgba(0, 0, 0, 0.125);
  margin-top: 5px;
}

.title > h1 {
  justify-content: baseline;
  color: rgb(52, 52, 52);
  margin-left: 20%;
}

.center {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 2;
}

#profile-pic {
  height: 75%;
  width: 30%;
  border-radius: 50%;
  margin: 5% auto;
}

button {
  margin: 3% auto;
  width: 50%;
  height: 5%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  border-radius: 25px;
  background: transparent;
  padding: 20px;
  padding-bottom: 3%;
  text-align: center;
  color: black;
  letter-spacing: 16px;
  font-style: bold;
}

.footer {
  background-color: #f5f8fa;
  height: 100px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: rgba(0, 0, 0, 0.125);
  margin-top: 10%;
}
